<!doctype html>
<html lang="en">

<head th:replace="layout :: head">
</head>

<body>

	<header th:replace="layout :: header">
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="layout :: nav">
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

					<h1 class="h4">Planes de Pago</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								Agregar Plan de Pago
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<form th:action="@{/planes_pagos}" th:object="${plan_pago}" method="post">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Plan de Pago</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										
										<div class="modal-body">

										
												<div class="row">
													<div class="col col-lg-6">
														<label class="form-label">Descripción:</label>
														<input type="text" class="form-control"
															placeholder="Descripcion" aria-label="Descripcion"
															th:field="*{descripcion}">
													</div>
													<div class="col">
														<label class="form-label">Cuotas:</label>
														<input type="number" min="0" max="32" class="form-control"
															placeholder="Cuotas" aria-label="Last name"
															th:field="*{cuotas}">
													</div>
													<div class="col">
														<label class="form-label">Interés:</label>
														<input type="number" min="0" step="any" class="form-control"
															placeholder="Interés" aria-label="Last name"
															th:field="*{interes}">
													</div>
													
												</div>
												<br>
												<div class="row">
													<div class="col">
														<label for="inputState" class="form-label">Tarjeta de Crédito:</label>
														<select id="inputState" class="form-select" th:field="*{tarjeta}">
															<option th:each="tarjeta : ${tarjetas}" th:text="${tarjeta.descripcion + ', ' + tarjeta.marca.descripcion}"
															th:value="${tarjeta.id_tarjeta}">...</option>
														</select>
													</div>
												</div>
											

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cerrar</button>
											<button type="submit" class="btn btn-primary">Guardar</button>
										</div>
										</form>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


				<br><br>
				<div class="row">


					<div class="table-responsive">
						<table class="table table-striped align-middle" id="planes_pagos">
							<thead>
								<tr>
									<th scope="col">Id Plan Pago</th>
									<th scope="col">Descripción</th>
									<th scope="col">Cuotas</th>
									<th scope="col">Interés</th>
									<th scope="col">Alta</th>
									<th scope="col">Activo</th>
									<th scope="col">Tarjeta</th>
									<th scope="col">Medio de Pago</th>
									
								</tr>
							</thead>
							<tbody>
								<tr th:each="plan_pago : ${planes_pagos}" class="text-center">

									<td th:text="${plan_pago.id_plan_pago}"></td>
									<td th:text="${plan_pago.descripcion}"></td>
									<td th:text="${plan_pago.cuotas}"></td>
									<td th:text="${plan_pago.interes}"></td>
									<td th:text="${plan_pago.alta}"></td>
									<td th:text="${plan_pago.activo ? 'Si':'No'}"></td>
									<td th:text="${plan_pago.tarjeta.descripcion + ', ' + plan_pago.tarjeta.marca.descripcion + ', ' + plan_pago.tarjeta.entidad_financiera.descripcion}"></td>
									<td th:text="${plan_pago.medio_pago.descripcion}"></td>

								</tr>
							</tbody>
						</table>
					</div>
					
				

					<!-- Content here -->
				</div>
					<br><br>


			</main>
		</div>
	</div>




	<div th:replace="layout :: script"></div>


	<script>

		$(document).ready(function () {
			$(".alert").delay(4000).slideUp(200, function () {
				$(this).alert('close');
			});
			$('#planes_pagos').DataTable({
				language: {
					processing: "Buscando...",
					search: "Buscar:",
					lengthMenu: "Filtrar _MENU_ planes de pagos",
					info: "Listado de planes de pagos",
					infoEmpty: "Sin resultados",
					infoFiltered: "",
					infoPostFix: "",
					loadingRecords: "",
					zeroRecords: "Sin resultados",
					emptyTable: "Sin resultados",
					paginate: {
						first: "Primero",
						previous: "Anterior",
						next: "Siguiente",
						last: "Último"
					},
					aria: {
						sortAscending: ": activar la columna para ordenar de forma ascendente",
						sortDescending: ": activar la columna para ordenar de forma descendente"
					}
				}
			});
		});

	</script>
</body>

</html>