<!DOCTYPE html>
<html>

<body>

	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}" name="columns-items" class="text-center">
				<td class="d-none">
					<input type="number" value="{ID}" name="item_id[]"/>
				</td>
				<td>{DESCRIPCION}</td>
				<td>
					<input step="any" type="number" value="{PRECIO}" id="precio_{ID}"
					name="precio[]" 
					class="form-control col-sm-4" min="0"
					onchange="itemsHelper.calcularImporte({ID}, this.value, {UNIDAD}, {IVA});"/>
				</td>
				<td>
					<input type="number" value="{UNIDAD}" step="{UNIDAD}" name="cantidad[]"
					id="cantidad_{ID}" class="form-control col-sm-4" 
					onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value, {IVA});" min="{UNIDAD}"/>
				</td>
				<td>
				    <span id="iva_{ID}">{IVA}</span> 
				</td>
				<td>
					<span id="total_importe_{ID}">0</span>
				</td>
				<td>
					<a href="#"
					onclick="itemsHelper.eliminarLineaFactura({ID});"><i class="far fa-trash-alt text-danger text-center"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	

</body>

</html>