<!doctype html>
<html lang="en">

<head th:replace="layout :: head">
</head>

<body>

	<header th:replace="layout :: header">
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="layout :: nav">
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

					<h1 class="h4">Tarjetas</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								Agregar Tarjeta
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
									<form th:action="@{/tarjetas}" th:object="${tarjeta}" method="post">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Tarjeta</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">

											
												<div class="row">
													<div class="col">
														<label class="form-label">Descripción:</label>
														<input type="text" class="form-control"
															placeholder="Descripcion" aria-label="Descripcion"
															th:field="*{descripcion}">
													</div>
													<div class="col">
														<label class="form-label">Arancel:</label>
														<input type="number" min="0" class="form-control"
															placeholder="Arancel" aria-label="Last name"
															th:field="*{arancel}">
													</div>
												
												</div>
												<br>
												<div class="row">
													<div class="col">
														<label for="inputState" class="form-label">Entidades Financieras:</label>
														<select id="inputState" class="form-select" th:field="*{entidad_financiera}">
															<option th:each="entidad : ${entidades}"
																th:text="${entidad.descripcion}"
																th:value="${entidad.id_entidad_financiera}">...</option>
														</select>
													</div>
													<div class="col">
														<label for="inputState" class="form-label">Tipo Tarjeta:</label>
														<select id="inputState" class="form-select" th:field="*{tipo_tarjeta}">
															<option th:each="tipo : ${tipos_tarjetas}"
																th:text="${tipo.descripcion}"
																th:value="${tipo.id_tipo_tarjeta}">...</option>
														</select>
													</div>
													<div class="col">
														<label for="inputState" class="form-label">Marca Tarjeta:</label>
														<select id="inputState" class="form-select" th:field="*{marca}">
															<option th:each="marca : ${marcas}"
																th:text="${marca.descripcion}"
																th:value="${marca.id_marca}">...</option>
														</select>
													</div>
													
												</div>
											

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cerrar</button>
											<button type="submit" class="btn btn-primary">Guardar</button>
										</div>
										</form>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


				<br><br>
				<div class="row">


					<div class="table-responsive">
						<table class="table table-striped align-middle" id="tarjetas">
							<thead>
								<tr>
									<th scope="col">Id Tarjeta</th>
									<th scope="col">Descripción</th>
									<th scope="col">Arancel</th>
									<th scope="col">Alta</th>
									<th scope="col">Activo</th>
									<th scope="col">Tipo</th>
									<th scope="col">Entidad Financiera</th>
									<th scope="col">Marca</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tarjeta : ${tarjetas}" class="text-center">

									<td th:text="${tarjeta.id_tarjeta}"></td>
									<td th:text="${tarjeta.descripcion}"></td>
									<td th:text="${tarjeta.arancel}"></td>
									<td th:text="${tarjeta.alta}"></td>
									<td th:text="${tarjeta.activo ? 'Si':'No'}"></td>
									<td th:text="${tarjeta.tipo_tarjeta.descripcion}"></td>
									<td th:text="${tarjeta.entidad_financiera.descripcion}"></td>
									<td th:text="${tarjeta.marca.descripcion}"></td>

								</tr>
							</tbody>
						</table>
					</div>

					<!-- Content here -->
				</div>


			</main>
		</div>
	</div>




	<div th:replace="layout :: script"></div>


	<script>

		$(document).ready(function () {
			$(".alert").delay(4000).slideUp(200, function () {
				$(this).alert('close');
			});
			$('#tarjetas').DataTable({
				language: {
					processing: "Buscando...",
					search: "Buscar:",
					lengthMenu: "Filtrar _MENU_ tarjetas",
					info: "Listado de tarjetas",
					infoEmpty: "Sin resultados",
					infoFiltered: "",
					infoPostFix: "",
					loadingRecords: "",
					zeroRecords: "Sin resultados",
					emptyTable: "Sin resultados",
					paginate: {
						first: "Primero",
						previous: "Anterior",
						next: "Siguiente",
						last: "Último"
					},
					aria: {
						sortAscending: ": activar la columna para ordenar de forma ascendente",
						sortDescending: ": activar la columna para ordenar de forma descendente"
					}
				}
			});
		});

	</script>
</body>

</html>